fastapi
uvicorn
langchain
langchain-community
langchain-huggingface
langchain-google-genai
torch>=2.6.0
safetensors
pymupdf
qdrant-client
langchain-qdrant
python-dotenv
sentence-transformers
pydantic
python-multipart
langchain-experimental
sqlalchemy
asyncpg
passlib[bcrypt]
bcrypt==3.2.2
PyJWT
alembic
python-docx
pandas
openpyxl
python-pptx
