fastapi
uvicorn
langchain
langchain-community
langchain-huggingface
langchain-google-genai
torch
safetensors
pymupdf
qdrant-client
langchain-qdrant
python-dotenv
sentence-transformers
pydantic
python-multipart
langchain-experimental
sqlalchemy
asyncpg
passlib[bcrypt]
bcrypt==3.2.2
PyJWT
alembic
python-docx
pandas
openpyxl
python-pptx
paddlepaddle
paddleocr
opencv-python-headless
fastembed>=0.2.6
celery
redis>=5.0.0
langfuse
pydantic-settings
